* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  width: 60%;
}

.container-bottom {
  background-color: rgb(255, 238, 139);
}

.container form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

form input {
  width: 45%;
  padding: 0.3rem;
}

.btn {
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 0.5rem 0;
}

aside {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
  background-color: peachpuff;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.content {
  width: 100%;
  height: 10rem;
  background-color: lightgray;
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}
